.background {
    background-color: rgba(144, 216, 166, 0.8);
}

.main_body {
    display: grid;
    width: fit-content;
    margin: 15vh auto auto;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 0.5fr 4fr 1fr;
    gap: 8px 8px;
    grid-template-areas: 
    "main_header main_header"
    "main_info main_nav"
    "main_floor main_floor";
    text-wrap: normal;
    justify-content: center;
    align-content: center;
}

.main_header {
    grid-area: main_header;
    text-align: center;
    height: 70px;
    border-radius: 20px 20px 0 0;
}

.main_info {
    grid-area: main_info;
    padding: 0 10px;
}

.main_nav {
    grid-area: main_nav;
}

.nav_frame{
    border: 0;
    height: available;
}

.main_floor {
    grid-area: main_floor;
    height: 50px;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.main_floor::before{
    content: ".";
    animation: floor_animation_left 2s linear infinite;

}

.main_floor::after{
    content: ".";
    animation: floor_animation_right 2s linear infinite;
}

@keyframes floor_animation_left{
    0%{content:"(ヘ･_･)ヘ┳━┳"}
    50%{content:"(╯°□°）╯︵ ┻━┻"}
    100%{content:"(ヘ･_･)ヘ┳━┳"}
}

@keyframes floor_animation_right{
    0%{content:"┳━┳ ノ( ゜-゜ノ)"}
    50%{content:"┻━┻ ︵ ＼( °□° )／"}
    100%{content:"┳━┳ ノ( ゜-゜ノ)"}
}
