.container{
    display: flex;
    height: 70%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.container button{
    border: 2px solid #307050;
}
.container button:hover{
    border-color: #CC4140;
    background: #DDDDDD;
}
.container button:active{
    border-color: #CC4140;
    background: #CCCCCC;
}