body {
    background: url("img/background2.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

table.schedule {
    background-color: #EEEEEE;
    margin: 5px auto;
    width: 650px;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    border-style: solid;
}

table.schedule thead {
    background: #1C6EA4;
    border-bottom: 2px solid #444444;
}

table.schedule thead th {
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
    font-size: 15px;
    font-weight: bold;
}

table.schedule td, table.schedule th {
    border: 2px solid #AAAAAA;
    padding: 3px 2px;
}

table.schedule tbody td {
    font-size: 15px;
    height: 35px;
}   

td:first-child{
    background: #CCCCCC;
}